.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #E2E2E2;
  height: 100vh;
  overflow: hidden;
}

.almacen{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.columna {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 250px;
  width: 100%;
  margin: 10px;
}

.oficina {
  background-color: rgba(26, 0, 99, 0.8);
  height: 30vh;
  max-width: 210px;
  width: 100%;
  border-radius: 15px;
  margin: 15px;
}

.cuadrado {
  background-color: rgba(116, 111, 111, 0.8);
  height: 8vh;
  width: 100%;
  max-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cuadrado:hover {
  background-color: rgba(111, 228, 227, 0.8);
  height: 9vh;
}

.circulo {
  background-color: #FFFFFF;
  height: 7vh;
  width: 100%;
  max-width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
}

.barra-gris {
  background-color: rgba(201, 208, 199, 0.8);
  height: 35px;
  width: 10%;
  max-width: 18px;
  margin: 2px;
}

.barra-verde {
  background-color: rgba(83, 207, 52, 0.8);
  height: 35px;
  width: 10%;
  max-width: 18px;
  margin: 2px;
}

.barra-amarilla {
  background-color: rgba(207, 201, 52, 0.8);
  height: 35px;
  width: 10%;
  max-width: 18px;
  margin: 2px;
}

.barra-roja {
  background-color: rgba(207, 61, 52, 0.8);
  height: 35px;
  width: 10%;
  max-width: 18px;
  margin: 2px;
}

.toggle-button {
  cursor: pointer;
  padding: 5px;
  max-height: 40px;
  max-width: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  color: black;
  border-radius: 20px;
  transition: background-color 0.3s;
  margin-left: 3rem;
}

.toggle-button:hover {
  background-color: #c2c2c2;
}

.ubicacion {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 20px;
  font-weight: bold;
  margin-right: 15rem;
}

.rack{
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  margin-top: 40px;
}

.estante {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1416px;
  width: 100%;
  margin: 10px;
  background-color:rgba(207, 61, 52);
  height: 30px;
  z-index: 1;
  margin: 30px 0;
}

.background-cols {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 0;
}

.col {
  width: 30px;
  background-color: rgba(100, 100, 100);
  height: 100%;
  margin: 0 40px;
}

.cajas {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1350px;
  height: auto;
  justify-content: space-around;
  margin-bottom: -5px; /* Ajusta este valor para que las cajas estén más cerca de los estantes */
  z-index: 2;
}

.caja {
  width: 180px;
  height: 140px;
  background: linear-gradient(180deg, #d5b26c, #a99f9f);
  margin: 0 10px;
  margin-bottom: -30px;
  cursor: pointer;
}

.etiqueta {
  width: 100px;
  height: 80px;
  background: radial-gradient(circle, #ffffff, #afaaaa);
  margin-top: 35px;
  margin-left: 40px;
}

.btn-back{
  position: absolute;
  margin-top: -20px;
  left:10px;
  cursor: pointer;
  z-index: 1;
  margin-left: 30px;
}

.informacion{
  width: 80%;
  height: 35rem;
  background: #a99f9f;
  border-radius: 10px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-producto{
  flex: 1;
  margin-left: 50px;
  margin-top: 20px;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.img-producto img{
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.info-producto {
  flex: 1;
  text-align: left;
  
}

.cantidad-producto{
  margin-left: 30px;
}

.cantidad-producto p{
  font-size: small;
}

.info-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.info-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}


.close-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.close-btn:hover {
  background-color: darkred;
}

.datos-producto {
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
}

.cantidad-productos {
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
  font-size: small;
}