.dropdown {
    position: relative;
    transition-duration: 0.4s;
    padding: 10px;
    display: flex;
    flex-direction: column;
    left: 90px;
}

.dropdown-btn {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
    margin-left: 2rem;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.1);
}

.toggle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.button-open {
    border: rgb(147 197 253) 2px solid;
}

.dropdown-content {
    position: absolute;
    max-width: 14rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-top: 0.2rem;
    margin-left: 2rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    max-height: 20vh;
    z-index: 1000;
    opacity: 0;
    display: none;
}

.content-open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
    display: block;
}

.dropdown-item {
    padding: 0.5rem;
    margin: 0.1rem;
    width: 100%;
    border-radius: 0.5rem;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: rgb(240 249 255);
}

.titulo {
    font-size: 22px;
    color: #000000;
    margin: 5px;
}